/* Variables
----------------------------------------------- */

$white: #ffffff;

// gray
$catskill-white: #F5F7FA;
$alabaster: #F9F9F9;
$iron: #E0E2E5;
$ghost: #C5CBD7;
$gray-chateau: #98A0A6;
$rolling-stone: #717779;

$form-text: #adb5b5;

$panel-outline: #d8e1eb;

$primary-red: #ff0042;
$primary-blue: #2a3245;
$secondary-blue: #373f52;
$blue-shadowed: rgba(100, 146, 188, 0.50);

// reg
$brink-pink: #FA607E;

// blue
$dodger-blue: #4786FF;
$malibu: #67AAF9;

// green
$shamrock: #37D993;
$mountain-meadow: #25C27E;

$status-green: #5bea94;
$status-yellow: #ffee35;
$status-red: #ff0042;

/* Media queries breakpoints
----------------------------------------------- */

$screen-xs: 480px;
$screen-phone: $screen-xs;

$screen-sm: 768px;
$screen-tablet: $screen-sm;

$screen-md: 992px;
$screen-desktop: $screen-md;

$screen-lg: 1200px;
$screen-lg-desktop: $screen-lg;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/* Grid System
----------------------------------------------- */

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-float-breakpoint: $screen-tablet;
$container-tablet: ((720px + $grid-gutter-width));
$container-desktop: ((940px + $grid-gutter-width));
$container-lg-desktop: ((1170px + $grid-gutter-width));