/* Basic Setup
----------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    color: $primary-blue;
    background: $gray-lightest;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
    @include transition( all 0.1s linear );
}

img {
    max-width: 100%;
    height: auto;
}