/* Basic Setup
----------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    background: $gray-lightest;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
}