/* Font Styles
----------------------------------------------- */

.hdg {

    &--1 {
        font-size: 22px;
        font-weight: 600;
    }

    &--2 {
        font-size: 18px;
    }

    &--3 {
        font-size: 16px;
    }

    &--4 {
        font-size: 14px;
    }

    &--semi-bold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }
}