/* Header Styles
----------------------------------------------- */

.header {
    text-align: left;
    padding: 15px 0 30px;

    @include tablet() {
        position: fixed;
        width: 86px;
    }

    &::before {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: $malibu;
        width: 9999px;
        z-index: -1;
    }

    &__brand {
        display: inline-block;
        color: $white;
        position: relative;

        .hdg {
            display: inline-block;
            line-height: 42px;
            padding-left: 45px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                height: 2px;
                width: 30px;
                background: $white;
            }
        }
    }

    &__logo {
        height: 56px;
        width: 56px;
        float: left;
        vertical-align: baseline;
        margin: 0 0 15px 0;
        display: -block;
    }
}