/* Page Header Styles
----------------------------------------------- */

.page {

    &__header {
        color: $white;
        padding: 30px 0 30px 60px;
        position: relative;
        margin-bottom: 15px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            @include translateY(1px);
            height: 2px;
            width: 45px;
            background: $white;

        }
    }
}