/* Page Header Styles
----------------------------------------------- */

.page {

    &__header {
        color: $mirage;
        padding: 30px 0;
        position: relative;
    }

    &__title {
        line-height: 1.4;
        position: relative;
        padding-left: 55px;

        .icon {
            background: $dodger-blue;
            fill: $white;
            height: 42px;
            width: 42px;
            padding: 8px;
            vertical-align: middle;
            top: 50%;
            @include translateY(-45%);
            position: absolute;
            lefT: 0;
            @include border-radius(8px);
        }
    }

    &__subtitle {
        display: block;
        font-size: 12px;
        color: $ghost;
    }
}