/* Page Panel Styles
----------------------------------------------- */

.panels {
    display: block;
}

.panel__item {
    width: 100%;

    @include mobile() {
        width: (100%/2);
    }

    @include tablet() {
        width: (100%/3);
    }

    @include desktop() {
        width: 25%;
    }
}

.panel {
    background: $white;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    @include border-radius(8px);
    padding: 15px 0;

    &__image {
        margin: -15px 0 15px;

        img {
        }
    }

    &__header {
        position: relative;
        line-height: 42px;
        @include clearfix();
        padding: 0 15px 15px;
        border-bottom: 2px solid $catskill-white;

        .panel__header-icon {
            width: 42px;
            height: 42px;
            float: left;
            margin-right: 15px;

            .icon {
                width: 42px;
                height: 42px;
                fill: $shamrock;
            }
        }

        .user__avatar-image {
            width: 42px;
            height: 42px;
            float: left;
            margin-right: 15px;
            overflow: hidden;
            @include border-radius(50px);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &__content {
        padding: 30px 15px;
    }

    &__content--no-padding-bottom {
        padding-bottom: 0;
    }

    &__footer {
        position: relative;
        border-top: 2px solid $catskill-white;
        padding: 15px 40px 0 15px;
    }

    &__delete {
        display: block;
        position: absolute;
        right: 15px;
        top: 12px;

        .icon {
            @include transition( all 0.1s linear );
            width: 20px;
            height: 20px;
            fill: $iron;
        }

        &:hover {

            .icon {
                fill: $brink-pink;
            }
        }
    }

    &__description {
        margin: 15px 0 0;
        padding: 15px 0 0;
        color: $mirage;
        line-height: 1.6;
    }

    &__date {
        display: block;
        margin-top: 30px;
        font-weight: 600;
        font-size: 12px;
        color: $ghost;
    }

    &__miles {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;

        &::after {
            content: "mi";
            display: inline-block;
            font-size: 28px;
            position: relative;
            left: -8px;
        }
    }
}