/* Page Panel Styles
----------------------------------------------- */

.panel {
    background: $white;
    border: 1px solid $panel-outline;
    position: relative;
    margin-bottom: 20px;

    &::after,
    &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        height: 2px;
        left: 3px;
        right: 3px;
        background: $white;
        border-bottom: 1px solid $panel-outline;
        border-left: 1px solid $panel-outline;
        border-right: 1px solid $panel-outline;
    }

    &::after {
        bottom: -7px;
        height: 2px;
        left: 7px;
        right: 7px;
    }

    &--sm {
        padding: 15px;

        @include tablet() {
            padding: 30px 45px;
        }
    }

    &--lg {
        padding: 30px 15px;

        @include tablet() {
            padding: 60px 45px;
        }
    }
}