/* Button Styles
----------------------------------------------- */

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: $shamrock;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    padding: 15px 30px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    @include transition(all 0.25s linear);
    @include border-radius(5px);

    &--full {
        display: block;
        width: 100%;
    }

    &:hover {
        background: $mountain-meadow;
    }

    &--secondary {
        background: $primary-red;

        &:hover {
            background: darken($primary-red, 5%);
        }
    }
}