/* Button Styles
----------------------------------------------- */

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: $primary-blue;
    font-size: 16px;
    color: $white;
    display: block;
    width: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
    @include transition(all 0.25s linear);
    @include border-radius(30px);

    &:hover {
        background: $secondary-blue;
    }
}