/* Form Styles
----------------------------------------------- */

input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    display: block;
    width:100%;
    resize: vertical;
    
    &:-webkit-autofill {
        background: $white !important;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
}

.form {
    background: $white;

    &-group {
        display: block;
        width:100%;
    }

    &--text-right {
        text-align: right;
    }

    &__link--small {
        color: $primary-blue;
        font-size:12px;
        text-decoration: underline;
    }

    &__link {
        display: block;
        margin-bottom: 8px;

        @include tablet() {
            margin-bottom: 0;
        }
    }

    &__link--right {
        margin-bottom: 0;

        @include tablet() {
            text-align: right;
        }
    }

    &__help-block {
        margin: 0;
        padding: 10px 0px;
        display: block;
        font-size: 12px;
        color: red;
    }
}

.form__auth {
    padding: 35px 45px;
    max-width: 480px;
    margin: 30px auto;
    @include box-shadow(0 0 40px $blue-shadowed);

    @include tablet() {
        margin: 60px auto;
    }

    &-header {
        text-align: center;

        a {
            color: $primary-blue;
        }
    }

    &-logo {
        height: 64px;
        width: 64px;
        margin: 0 0 8px;
    }
}

.float {
    display: inline-block;
    position: relative;
    margin: 15px 0 30px;

    &__input {
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
        @include transition( 0.1s all linear );
    }

    &__label {
        position: absolute;
        top: 12px;
        cursor: text;
        text-transform: uppercase;
        color: $gray-light;
        font-size: 14px;
        @include transition( 0.1s all linear );
    }

    &--active &__label {
        font-size: 12px;
        top: -10px;
    }
}