/* Form Styles
----------------------------------------------- */

input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    display: block;
    width: 100%;
    resize: vertical;

    &:-webkit-autofill {
        background: $aqua-haze !important;
    }
}

.form {
    background: $white;
    overflow: hidden;

    &__title {
        color: $rolling-stone;
        font-weight: 700;
        position: relative;
        padding: 0 0 30px 0;
        margin-bottom: 30px;

        &::after {
            content: "";
            position: absolute;
            left: -100%;
            right: -100%;
            bottom: 0;
            height: 2px;
            background: $aqua-haze;
        }
    }

    &-group {
        display: block;
        width: 100%;
    }

    &--text-right {
        text-align: right;
    }

    &__link--small {
        color: $shamrock;
        font-size: 14px;
        font-weight: 700;
    }

    &__link {
        display: block;
        margin-bottom: 8px;

        @include tablet() {
            margin-bottom: 0;
        }
    }

    &__link--right {
        margin-bottom: 0;

        @include tablet() {
            text-align: right;
        }
    }

    &__help-block {
        margin: 0;
        padding: 10px 0px;
        display: block;
        font-size: 12px;
        color: red;
    }
}

.form__auth {
    padding: 35px 45px;
    max-width: 480px;
    margin: 30px auto 60px;
    @include border-radius(5px);
    @include box-shadow(1px 1px 2px $porcelain);

    &-header {
        text-align: center;
        margin-top: 30px;

        @include tablet() {
            margin-top: 60px;
        }

        a {
            color: $rolling-stone;
        }
    }

    &-logo {
        height: 64px;
        width: 64px;
        margin: 0 0 8px;
    }
}

.float {
    display: inline-block;
    position: relative;
    margin: 15px 0;

    &__input {
        padding: 15px 10px;
        background: $aqua-haze;
    }

    &__label {
        cursor: text;
        text-transform: uppercase;
        color: $ghost;
        font-size: 12px;
        display: block;
        margin-bottom: 8px;
    }
}