/* Navigation User Dropdown Styles
----------------------------------------------- */

.user {
    display: block;
    position: relative;
    padding-right: 22px;

    &__avatar {
        position: relative;

        &-image {
            height: 42px;
            width: 42px;
        }

        &--status-green {

            &::after {
                position: absolute;
                content: "";
                width: 12px;
                height: 12px;
                bottom: -2px;
                right: -3px;
                border: 3px solid $primary-blue;
                background: $status-green;
                @include border-radius(100%);
            }
        }
    }

    &__caret {
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        right: -6px;

        .icon {
            fill: $white;
            height: 22px;
            width: 22px;
        }
    }
}

.dropdown {
    display: block;
    padding: 15px 0;
    position: relative;
    background: $primary-blue;

    &__menu {
        position: absolute;
        background: $primary-blue;
        min-width: 320px;
        right: -15px;
        top: 100%;
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        transform: translateY(-2em);
        z-index: 1;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
        -webkit-transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;

        @include tablet() {
            min-width: 460px;
        }
    }

    &:hover {

        .dropdown__menu {
            visibility: visible; /* shows sub-menu */
            opacity: 1;
            z-index: 2;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
        }
    }
}

.user-tray {
    background: $secondary-blue;
    padding: 15px 20px;

    @include tablet() {
        padding: 30px 35px;
    }

    li {
        vertical-align: middle;
        display: inline-block;
        float: right;
        margin-left: 10px;

        &:first-child {
            float: none;
            margin-left: 0;
        }
    }

    &__username {
        line-height: 28px;
        font-size: 16px;
        font-weight: 700;
        color: $white;
        position: relative;
        padding-left: 22px;

        &::before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            left: 0;
            top: 50%;
            @include translateY(-50%);
            background: $status-green;
            @include border-radius(100%);
        }
    }

    &__settings {
        display: block;

        .icon {
            display: block;
            fill: $white;
            height: 28px;
            width: 16px;
        }
    }

    &__logout {
        display: block;
        color: $white;
        background: $primary-blue;
        line-height: 1;
        font-size: 11px;
        font-weight: 700;
        padding: 8px 18px;
        @include border-radius(30px);

        &:hover {
            background: $primary-red;
        }
    }
}