/* Login auth page Styles
----------------------------------------------- */

.template-login {
    background: url('../images/photo-1457470572216-1240fac24b37.jpeg') no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.panel-login {

    @include tablet() {
        margin: 80px 0;
    }
}

.login-logo {
    max-width: 96px;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
}